body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bgc-imgg.jpg);
  font-family: sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

p.card-text {
  overflow-x: hidden;
  height: 100px;
}

.card-link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.3s ease;
}

.card-link:hover {
  opacity: 0.4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
